<h1>Knowledge Areas</h1>
<%= link_to "New Knowledge Area", new_knowledge_area_path %>
<br><br>
<table>
    <thead>
        <tr>
            <th> Name </th>
            <th> Description </th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
         <% @knowledge_areas .each do |knowledge_area| %>
        <tr>
            <td><a href="/knowledge_areas/<%= knowledge_area.id %>"><%= knowledge_area.name %></a></td>
            <td><%= knowledge_area.description %> </td>
            <td><a href="/knowledge_areas/<%= knowledge_area.id %>/edit">Edit</a></td>
            <td><div data-controller="knowledge-areas">
                <%= button_to 'Delete', knowledge_area, method: :delete ,data: {action: 'click->knowledge-areas#delete' }, class: 'ml-3 text-sm font-light' %>
            </div>
            </td>
           
        </tr>
         <% end %>
    </tbody>
    
    <div data-controller="knowledge-areas">
    <button data-action="click->knowledge-areas#showAlert">Show alert</button>
     <button data-action="click->knowledge-areas#delete">Delete stimulus</button>
    </div>
    
</table>
