<h1><%= @knowledge_area.name %></h1>

<p><%= @knowledge_area.description%></p>

<ul>
  <li><%= link_to "Edit", edit_knowledge_area_path(@knowledge_area) %></li>
  <li><%= button_to "Delete", @knowledge_area, method: :delete ,form: {data: {turbo_confirm: 'Are you sure?'}}%></li>
  <li><%= link_to "Delete", @knowledge_area,data: { turbo_method: :delete,turbo_confirm: "Are you sure"} %>
  
</ul>
<%= link_to "Knowledge Areas", knowledge_areas_url %>